*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    overflow-x: hidden;
    background-color: rgb(255, 255, 255); 
}
nav {
    display: flex;
    justify-content:space-around ;
    align-items: center;
    min-height: 8vh;
    background-color:rgb(255, 255, 255);
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}



.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30% ;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(46, 44, 44);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;    
}


.logo{
    width: 41px;
    height: 41px;
    margin-top: 0.4px;
    
            
}




.retangulo div{
    position: absolute;
    width: 1920px;
    height: 700px;
    left: 0px;
    top: 60px;
}
.texto{
    position: absolute;
    height: 100px;
    left: 10.53%;
    right: 51.3%;
    top: calc(40% - 100px/2 + 190px);

    font-family: PT Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    /* or 125% */
    color: rgb(255, 255, 255);
}

.texto2{
    position: absolute;
    height: 18px;
    left: 10.53%;
    right: 65.73%;
    top: calc(40% - 18px/2 + 265px);

    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    color: rgb(255, 255, 255);


}
.titulo{
    position: absolute;
    height: 8px;
    left: 10.53%;
    right: 76.88%;
    top: calc(50% - 18px/2 + 60px);

    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.imgHere {
    
    position: absolute;
    width: 1920px;
    height: 700px;
    left: 0px;
    top: 0px;

}

.retangulo2 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 57.14%;
    bottom: 0%;
   background: linear-gradient(180deg, rgba(0, 0, 0, 6.5e-05) 0%, rgba(0, 0, 0, 0.65) 100%);
}

.img {
   
    left: 100%;
    right: -100%;
    top: -73.29%;
    bottom: -9.04%;

    background: url("imgs/thebetales1.jpg");
    transform: matrix(-1, 0, 0, 1, 0, 0);

}

.posts{
    width: 770px;
    height: 852px;
    margin-left: 75px;
    top: 878px;
    white-space: nowrap;
    text-align: justify;
}

.tituloPost{
    position: absolute;
    height: 16px;
    left: 97.92%;
    right: 69.58%;
    top: calc(50% - 16px/2 + -40px);

    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */

    text-transform: uppercase;

    color: #C9A96E;
}

.dataPost{
    position: absolute;
    height: 16px;
    left: 97.92%;
    right: 69.58%;
    top: calc(50% - 16px/2 + 47px);

    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */
    color: #666666;
}

.post2{
    position: absolute;
    width: 278px;
    height: 411px;
    margin-right:705px ;
    top: 1319px;
    margin-bottom: 100px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.7);
}

.post1{
    position: absolute;
    width: 278px;
    margin-right:705px ;
    height: 411px;
    
    top: 853px;
    
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.7);
}

.post3{
    position: absolute;
    width: 278px;
    height: 411px;
    margin-left:360px ;
  
    top: 1319px;

    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.7);
}

.post4{
    position: absolute;
    width: 278px;
    height: 411px;
    margin-left:360px ; 
    top: 853px;
        
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.7);
}

.retanguloP2{
    position: absolute;
    left: 25.58%;
    right: 61.15%;
    top: 77.95%;
    bottom: 13.5%;
    text-emphasis: center;
    

}

.textoP2{
    left: 21.77%;
    right: 63.39%;
    position: absolute;
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 38px;
    /* or 140% */
    text-align: center;    
    color: #171717;
}

.imgP2{
    position: absolute;
    position: absolute;
    width: 278px;
    height: 280px;
    left: 0px;
    top: 0px;

background: url(imgs/rocket.jpg);
}

.imgP1{
    position: absolute;
    position: absolute;
    width: 278px;
    height: 280px;
    left: 0px;
    top: 0px;

background: url(imgs/hard.jpg);
}

.imgP3{
    position: absolute;
    position: absolute;
    width: 278px;
    height: 280px;
    left: 0px;
    top: 0px;

background: url(imgs/argue.jpg);
}


.imgP4{
    position: absolute;
    position: absolute;
    width: 278px;
    height: 280px;
    left: 0px;
    top: 0px;

background: url(imgs/police.jpg);
}

.sidebar{
    position: absolute;
    width: 370px;
    height: 541px;
    left: 879px;
    top: 878px;
   
}

.tituloCat{
    position: absolute;
    height: 21px;
    left: 35.93%;
    right: 35.93%;
    top: calc(50% - 21px/2 + 0.5px);

    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;

    color: #171717;
}

.tituloSide{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 82.14%;
    height: 40px;
}

.margem{
    position: absolute;
    left: 0%;
    right: 0%;
    top: -5%;
    bottom: 0%;
    
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
}

.linha1{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 10.79%;
    bottom: 90.86%;
    
    border: 1px solid #E5E5E5;
}

.tituloLinha{
    position: absolute;
    height: 19px;
    left: 0%;
    right: 81.48%;
    top: calc(50% - 9px/2 - 25.5px);

    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: #666666;
}

.legendal1{
    position: absolute;
    height: 19px;
    left: 90.74%;
    right: 0%;
    top: calc(50% - 19px/2 - 21.5px);

    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    text-align: justify;

    color: #666666;
}

.linha2{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 18.93%;
    bottom: 85.71%;
    white-space: nowrap;
    border: 1px solid #E5E5E5;
}

.legendal2{
    position: absolute;
    height: 19px;
    left: 92.74%;
    right: 0%;
    top: calc(50% - 19px/2 - 21.5px);

    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    text-align: justify;

    color: #666666;
}

.linha3{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 26.93%;
    bottom: 75.71%;
    white-space: nowrap;
    border: 1px solid #E5E5E5;
}
.linha4{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 34.93%;
    bottom: 85.71%;
    white-space: nowrap;
    border: 1px solid #E5E5E5;
}
.linha5{
    position: absolute;
    left: 0.5%;
    right: 0%;
    top: 43.53%;
    bottom: 70.71%;
    white-space: nowrap;
   
}

.tags{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 51%;
    bottom: 7.27%;
    width: 370px;
    height: 220px;   
}

.titulotag{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 77.27%;
}

.retanguloTag1{
    position: absolute;
    left: 0%;
    right: 68.89%;
    top: 21.82%;
    bottom: 64.55%;
    cursor: pointer;
    background: #F8F9FA;
}

.retanguloTag2{
    position: absolute;
    left: 34.81%;
    right: 31.48%;
    top: 21.82%;
    bottom: 64.55%;
    cursor: pointer;
    background: #F8F9FA;
}

.retanguloTag3{
    position: absolute;
    left: 72.22%;
    right: 1.11%;
    top: 21.82%;
    bottom: 64.55%;
    cursor: pointer;
    background: #F8F9FA;
}

.retanguloTag4{
    position: absolute;
    left: 0%;
    right: 62.96%;
    top: 40%;
    bottom: 46.36%;
    cursor: pointer;
    background: #F8F9FA;
}

.retanguloTag5{
    position: absolute;
    left: 40.74%;
    right: 28.89%;
    top: 40%;
    bottom: 46.36%;
    cursor: pointer;
    background: #F8F9FA;
}

.retanguloTag6{
    position: absolute;
    left: 74.81%;
    right: 3.7%;
    top: 40%;
    bottom: 46.36%;
    cursor: pointer;
    background: #F8F9FA;
}
.retanguloTag7{
    position: absolute;
    left: 0%;
    right: 63.7%;
    top: 58.18%;
    bottom: 28.18%;
    cursor: pointer;
    background: #F8F9FA;
}
.retanguloTag8{
    position: absolute;
    left: 40%;
    right: 25.56%;
    top: 58.18%;
    bottom: 28.18%;
    cursor: pointer;
    background: #F8F9FA;
}
.retanguloTag9{
    position: absolute;
    left: 78.15%;
    right: 3.7%;
    top: 58.18%;
    bottom: 28.18%;
    cursor: pointer;
    background: #F8F9FA;
}
.retanguloTag10{
    position: absolute;
    left: 0%;
    right: 70.74%;
    top: 76.36%;
    bottom: 10%;
    cursor: pointer;
    background: #F8F9FA;
}
.retanguloTag11{
    position: absolute;
    left: 32.96%;
    right: 37.78%;
    top: 76.36%;
    bottom: 10%;
    cursor: pointer;
    background: #F8F9FA;
}

.retanguloTag12{
    position: absolute;
    left: 65.93%;
    right: 7.41%;
    top: 76.36%;
    bottom: 10%;
    cursor: pointer;
    background: #F8F9FA;
}




.textoTags{
    position: absolute;
    height: 19px;
    left: 5.56%;
    right: 74.07%;
    top: calc(80% - 10px/2 - 14.5px);

    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */


    color: #666666;
}



